<h3>Home</h3>
<p>welcome to home of <%= @owner.name %> </p>
<p>I was born on <%= @owner.birthdate %> </p>
<p>Only <span class="countdown"><%= @owner.countdown %></span> days until my birthday!!!</p>
<%= render 'layouts/footer' %>