<h3>Home</h3>
<p>welcome to home of <%= @owner.name %> </p>
<p>I was born on <%= @owner.birthdate %> </p>
<p>Only <span class="countdown"><%= @owner.countdown %></span> days until my birthday!!!</p>

<div class="col-md-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ipsum, minima accusamus molestiae nulla placeat dolor! Debitis eligendi nesciunt, fugiat a pariatur mollitia laboriosam aperiam molestias libero aut quidem quibusdam.</p></div>








<%= render 'layouts/footer' %>